.page_top{
    width: 100%;
    margin-top: 70px;
    height: 100px;
    background-color:#e9ebee ;
    display: block;
}
.page_bottom{
    width: 100%;
    height : 100px;
    background-color:#e9ebee ;
    display: block;
}


.container_newfeed{
    background-color: #e9ebee;
    width: 100%;
    height: 100%;
    display: block;
    
}

.newfeed{
    background-color: white;
    margin-left:15vw;
    margin-right :15vw;
    display: block;
   
    
  
    
}


.newfeed li:not(:first-child):before {
 content: '>';
    padding: 0 5px;
    color: #ccc;
} 


.newfeed .header_newfeed h1 {
    color: red;
    margin-left: 15%;
    margin-bottom: 20px;
    font-family: 'utm_avoregular', sans-serif;
    font-weight: 100;
    
}
.newfeed .page-link{
    /* padding-top: 50px; */
    /*margin-left: 15%;*/
    display: block;
    
}
ol {
  list-style-type: none;
  text-decoration: none;
 } 
.link-item{
    display: inline-block;
    font-size: 16px;
    color :#000;
    text-align: left;
    background-color: transparent;
}   
.link-item a{
    color: #000;
}
.links>.active {
    color: #777;
}
.newfeed .content_newfeed .section{
    
    border-top: 1px solid rgba(0, 0, 0, 0.527);
    width: 70%;
    height: 350px;
    margin-left: 15%;  
    margin-right: 15%;
    padding-bottom: 20px;
    display:flex;
    padding-top:20px;
    
}
.newfeed .content_newfeed .image-wrapper{
    
    display: flex;
    width: auto;
    height: auto;
    
   
    
}
.newfeed .content_newfeed .image-wrapper img{
    object-fit: contain;
}
.newfeed .content_newfeed .info-wrapper{
    object-fit: contain;
    display:block;
    width: 50%;
    margin-left: 50px;
    flex-direction: column; 
    margin-top: 10px; 

}
.newfeed .content_newfeed .info-wrapper .date{
      
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'utm_avoregular', sans-serif;
    text-align: left !important;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;

    
   
   
}

.newfeed .content_newfeed .info-wrapper .title p {
    
    
       -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: left;
    box-sizing: border-box;
    font-family: 'utm_avoregular', sans-serif;
    font-size: 20px;
    color: #000;
    line-height: normal;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: bold;
    
   
}
a {
      text-decoration:none;
        
   }
.ret-dot{
        -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'utm_avoregular', sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
    display: inline-block !important;
    text-transform: uppercase;
    color: #333;
    margin-right: 20px;
    padding-left: 15px;
    position: relative;
    display: inline-block;
}
.red-dot::before{
    content: "";
    background: #dc2930;
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -1px;
    border-radius: 50%;
}
@media screen and (max-width:800px){
    .newfeed{
    
    margin-left: 0;
    margin-right: 0;
    }
   .newfeed .content_newfeed .section{
       height: fit-content;
       flex-direction: column;
   }

    .image-wrapper{
        height: 50%;
        width: 50%;

    }
    img{
        height: 100%;
        width: 100%;
    }
    .container_newfeed{
        margin: 0;
    }
    .newfeed .content_newfeed .info-wrapper{
        margin-left:1%;
        display: block;
        width: 100%;

    }
    .page_top{
    height : 0px;
    }
    .page_bottom{
    
    height : 0px;
    
    }
    
    
}