#footer{   
  bottom: 0;
  left : 0;
  right: 0;
  text-align: center;
  justify-content: center;
  max-width:100%;
  display: block;
  width:100vw;
  height: fit-content;
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 1px;
}
#row_logo{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  text-size-adjust: 100%;

} 
#contain_logo {

  width:100%;
  justify-content: center;
  display:flex;
  height: auto;
  justify-content: center; 
  margin-top: 10px;
}
#centuryon {
  
width: 220px;  
height: 80px;
vertical-align: middle;
margin-top: 5px;
  
}
#rubygym {
   margin-top: 15px;
   vertical-align: middle;
   width: 185px;
   height: 60px;
}
#eri {
width: 185px  ;
vertical-align: middle;
}

#text_location {
  
  line-height: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  max-width:100%;
  
}
#bocongthuong{
  width: 100vw;
  justify-content: center;
}
#anh_bocongthuong{
  margin-top: 10px;
  image-orientation: center;
  text-align: center;
  height: 60px;
  vertical-align: middle;
}
@media screen and (max-width:800px){
#row_logo{
  width: 100%;
  justify-content: center;
}
#anh_bocongthuong{
    height: auto;
    width: 30%;
    justify-self: center
  }
   #contain_logo
  {
     flex-direction:column ;
     width: 100%;   
     
  }
  #centuryon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
  #rubygym {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }
  #eri {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto; 
  }
    
      
  
}
  


  
  

