.admin-blog-list .admin-blog-list-header{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(212, 212, 212, 0.377);
    background-color: white;
}
.admin-blog-list .admin-blog-list-header .show-navigation{
    height: 40px;
    background-color: red;
}
.admin-blog-list .admin-blog-list-header .show-navigation img{
    object-fit: contain;
    height: 100%;
}
.admin-blog-list .admin-blog-list-header .admin-blog-list-tool{
    /* height: 40px; */
}

.admin-blog-list .admin-blog-list-header .admin-blog-list-tool .icon-notification
{
    height: 40px;
    display: inline-flex;
}
.admin-blog-list .admin-blog-list-header .admin-blog-list-tool .icon-notification img{
    height: 100%;
    object-fit: contain;
}

.admin-blog-list .admin-blog-list-header .admin-blog-list-tool .admin-profiler{
    border-radius: 50%;
    height: 40px;
    display: inline-flex;
    margin-left: 20px;
    margin-right: 10px;
}
.admin-blog-list .admin-blog-list-header .admin-blog-list-tool .admin-profiler img{
    height: 100%;
    object-fit:contain;
    border-radius: 50%;
}