.all {
  height: 2000px;
}

.content-chinh .main-content {
  box-sizing: border-box;
  display: block;
  height: 1500px;
  width: 100%;
}
.box-body .user_image {
  margin-top: 25px;
  margin-right: 5%;
}
.user_image .image-user {
  box-sizing: border-box;
  width: 226px;
  height: 170px;
}
.box-body .box-user-infor {
  float: left;
  display: flex;
  box-sizing: border-box;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
  margin-top: 25px;
}
.box-body .user-name {
  margin-top: 1%;
  margin-right: 5%;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 28.8px;
  text-align: center;
  color: black;
}
.content-header {
  box-sizing: border-box;
  display: block;
  height: auto;
  padding-bottom: 0px;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  font-family: Monsterrat, sans-serif;
  color: rbg (51, 51, 51);
}
.content-header .title {
  height: auto;
  text-align: center;
  display: block;
  font-family: Monsterrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40.5px;
  color: rbg (51, 51, 51);
  margin-bottom: -15px;
}

hr {
  box-sizing: content-box;
  border: 0;
}
.red-line {
  margin: 20px 40%;
  color: black;
  background: #db2328;
  height: 5px;
  width: 20%;
}

.content .box {
  box-sizing: border-box;
  display: block;
  height: auto;
  margin-top: 35px;
  margin-right: 13%;
  margin-left: 13%;
  width: auto;
  box-shadow: #ff512f 0px 0px 1px 1px, #dd2476 0px 1px 1px 0px;
  outline-color: #dd2476;
  outline-width: 1px;
  border-radius: 10px;
}
.box .box-body {
  box-sizing: border-box;
  display: flex;

  height: 100%;
  padding: 10px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
}
.box .box-body-fix {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 10px;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
}
.box-body-fix .user-name {
  width: 30%;
  margin-right: 3%;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}
.user-name input {
  font-size: 16px;
  margin-left: 5px;
  width: 120px;
}
select {
  border-radius: 2px;
  width: 160px;
  border-inline-color: none;
  font-size: 16px;
  margin-left: 5px;
}

.box-body .option1 {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  font-size: 15px;
}
.option1::-ms-expand {
  display: none;
}
.option1:hover {
  border-color: #888;
}
.option1:focus {
  border-color: #aaa;

  color: #222;
  outline: none;
}
.option1 option {
  font-weight: normal;
}

.text-center {
  text-align: right;
}
.content .text-center .button {
  display: block;
  height: auto;
  margin: 25px auto;
  padding: 15px 1% 15px 1%;
  width: 13%;
  font-family: cali, sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  text-decoration-color: white;
  color: rgb(255, 255, 255);
  background-color: #db2328;
  border-radius: 8px;
  border-color: white;
}
.button .text-button {
  color: white;
}

.container {
  display: none;
  height: auto;
  width: 30vw;
  background-color: white;
  margin-top: 100px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 15px;
  position: fixed;
  box-shadow: #ff512f 0px 0px 1px 1px, #dd2476 0px 1px 1px 0px;
}
.container2 {
  padding: 20px;
}
.login {
  text-align: center;
  font-weight: bold;
  font-family: 'Aerial', sans-serif;
}

.container2 .kaka {
  display: flex;
}
.btn {
  width: 30%;
  display: block;
  padding: 10px;
  border-radius: 30px;
  margin: 20px auto 10px;
  border: none;
  color: white;
  background-image: linear-gradient(90deg, #ff512f, #dd2476);
}
.btn:hover {
  opacity: 0.5;
}
@media screen and (max-width: 600px) {
  .main-header.logo {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .main-header .top-navbar {
    width: 600px;
  }
  .navbar-custom-menu .navbar-icon {
    font-size: 15px;
    margin-top: 25px;
    margin-right: 3%;
  }
}
