.admin-nav{
    background-color: #343a40;
    width: 250px;
    color: #b8c7ce;
    /* position: fixed; */
    height: 3000px;
    transition: 0.5s;
    z-index: 1000;
}

.admin-nav .show-icon{
    height: 30px;
    margin-top: 8px;
}

.admin-nav .show-icon img{
    object-fit: contain;
    height: 100%;
}

.admin-nav .admiv-nav-title{
    text-align: center;
    padding: 12px 0px 12px 0px;
}
.admin-nav .admiv-nav-title div{
    font-size: 17px;
    color: white;
    font-weight: 600;
}

.admin-nav .adminBasicInfo{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    width: 100%;
    border-bottom: 2px solid rgba(223, 223, 223, 0.247);
    border-top: 2px solid rgba(223, 223, 223, 0.247);
    padding-top: 10px;
    padding-bottom: 10px;

}

.admin-nav .adminBasicInfo .admin-img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.admin-nav .adminBasicInfo .admin-img img{
    object-fit: contain;
    height: 100%;
    margin: auto;
}

.admin-nav .admin-name-and-status{
    width: 180px;

}

.admin-nav .admin-name-and-status .admin-name div{
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.admin-nav .admin-name-and-status .admin-status{
    display: flex;
    justify-content: left;
    font-family: 'Source Sans Pro', sans-serif;
}
.admin-nav .admin-name-and-status .admin-status .online-status{
    margin-right: 10px;
    color: rgb(104, 231, 110);
}

.admin-nav .admin-name-and-status .admin-status .notification div{
    color: rgba(252, 92, 92, 0.575);
}

.admin-nav .admin-choice {
    width: 100%;
    margin-top: 30px;
}


.admin-nav .admin-choice .admin-choice-container{
    width: 100%;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    cursor: pointer;
    position: relative;
    
}

.admin-nav .admin-choice .admin-choice-container:active{
    background-color: #1e282c;

}
.admin-nav .admin-choice .admin-choice-container .container{
    display: flex;
    justify-content: left;
    padding-bottom: 8px;
}



.admin-nav .admin-choice .admin-choice-container:hover{
    background-color: #1e282c;
}




.admin-nav .admin-choice .admin-choice-container .admin-choice-container-icon{
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-container-icon img{
    object-fit: contain;
    height: 100%;
    margin: auto;
    
    filter: invert(90%) sepia(17%) saturate(165%) hue-rotate(154deg) brightness(85%) contrast(92%);
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-container-name{
    margin-left: 10px;
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-container-name div{
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-child-container{
    /* position: absolute; */
    background-color: rgb(85, 85, 85);

    /* margin-top: 42px; */
    width: 100%;
    font-size: 14px;
    display: none;
    transition: 1s;
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-child-container .admin-choice-container-child{
    width: 100%;
    display: flex;
    justify-content: left;
    height: 20px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    padding-bottom: 5px;
    padding-top: 5px;
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-child-container .admin-choice-container-child .admin-choice-container-child-icon{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.admin-nav .admin-choice .admin-choice-container .admin-choice-child-container .admin-choice-container-child .admin-choice-container-child-icon img{
    object-fit: contain;
    height: 100%;
    margin: auto;
    
    filter: invert(90%) sepia(17%) saturate(165%) hue-rotate(154deg) brightness(85%) contrast(92%);
}
.admin-nav .admin-choice .admin-choice-container .admin-choice-child-container .admin-choice-container-child .admin-choice-container-child-name{
    margin-left: 10px;
    /* display: flex; */
    position: relative;
    color: rgba(255, 255, 255, 0.74);
}
.admin-nav .admin-choice .admin-choice-container .admin-choice-child-container .admin-choice-container-child .admin-choice-container-child-name div{
    bottom: 0;
    position: absolute;
    width: max-content;
}




